/* Updated to import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto' !important;
  background: var(--primary-color) !important;
}

h1, h2, h3, h4, h5, h6, p,
.h1, .h2, .h3, .h4, .h5, .h6, .p {
  font-family: 'Roboto' !important;
}


/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins' !important;
  background: var(--primary-color) !important;
}

h1, h2, h3, h4, h5, h6, p,
.h1, .h2, .h3, .h4, .h5, .h6, .p {
  font-family: 'Poppins' !important;
} */

:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --primary-color: #0A233E;
  --primary-color-light: #223851;
  --secondary-color: #E9333F;
  --background-color:#fbf7f3;
  --text-color:  #8a99a5;
  --error-color: #dc3545;
  --error-light: #f5c6cb;
  --success-color: #28a745;
  --success-light: #d4edda;
}

.bg-w {
  background: var(--white-color);
  /* background: var(--background-color); */
}
#preloader {
  background-color: var(--white-color);
}
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: var(--white-color);
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 1px dotted rgba(215, 215, 215, 1);
}
.loading img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.loading:after, .loading:before {
  content: '';
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  box-shadow: var(--secondary-color) -2px -2.5px 1.5px -1.5px, var(--primary-color) 2px 2.5px 1.5px -1.5px;
}
.loading:after {
  animation: rotate 1s infinite linear;
}
.loading:before {
  animation: re-rotate 1s infinite linear;
}
@keyframes re-rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.pera-title {
  font-size: 16px;
  line-height: 22px;
}
.para-desc {
  max-width: 900px;
}
.text-justify {
  text-align: justify;
}
.logo img,
.footer-logo img {
  border-radius: 6px;
}
.nav-sticky {
  background: var(--secondary-color) !important;
}
.navbar-custom .navigation .nav-item .nav-link,
.nav-sticky.navbar-custom .navigation .nav-item .nav-link {
  font-size: 14px !important;
  color: var(--white-color);
}
.navbar {
  min-height: 50px;
  padding: 0.25% 0% !important;
}
.navbar-custom .navigation .nav-item.active .nav-link {
  color: var(--white-color);
  border-bottom: 2px solid var(--white-color);
}
.nav-sticky.navbar-custom .navigation .nav-item .nav-link:hover, 
.nav-sticky.navbar-custom .navigation .nav-item .nav-link:active, 
.nav-sticky.navbar-custom .navigation .nav-item .nav-link:focus {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
.navbar-custom .navigation .nav-item.custom-btn .nav-link{
  background-color: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color);
  transition: all 0.3s;
  border-radius: 10px !important;
}
.nav-sticky.navbar-custom .logo {
  color: var(--white-color) !important;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.nav-sticky .navbar-toggler {
  color: var(--white-color) !important;
}
.hero-btn .text-primary {
  color: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color);
  padding: 8px 24px;
  border-radius: 6px;
}
.back-to-top {
  z-index: 99;
  position: fixed;
  bottom: 5%;
  right: 2.5%;
  transform: rotate(45deg);
  border-radius: 6px;
  line-height: 22px;
  display: none;
  color: var(--white-color) !important;
  background-color: var(--primary-color-light) !important;
  transition: all 0.5s ease;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3) !important;
  border: none !important;
}
.back-to-top:hover {
  background-color: var(--secondary-color) !important;
  color: var(--white-color) !important;
  transform: rotate(45deg);
}
.back-to-top .icons {
  transition: all 0.5s ease;
  stroke-width: 2.5;
  height: 20px;
  width: 20px;
  transform: rotate(-45deg);
}
.hero-area {
  background: radial-gradient(63.17% 68.09% at 64.51% 31.83%, rgba(10, 35, 62, 0) 0%, #0A233E 100%), url('../images/hero1.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.section {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.public-profile {
  background: var(--primary-color-light);
  margin: 5% 0% 0%;
  padding: 2.5% 0%;
}
.about .card-body {
  padding: 1% 2.5%;
  scale: 1;
}
.about .card-body .heading{
  color: var(--white-color);
}
.about-me-quote {
  min-width: 334px;
  text-align: center;
}
#counter .counter-box {
  background: var(--primary-color-light);
  padding: 7.5% 5%;
  border-radius: 6px;
}
.about-me-quote,
.about-me-counter {
  padding: 5% 0%;
  margin: 5% 0%;
}
#counter .counter-box .card-body{
  padding: 5% 2.5%;
}
#counter .card-body h2,
#counter .card-body h2 span{
  color: var(--secondary-color);
  font-weight: 400;
}
#counter .card-body h5{
  color: var(--white-color);
}
.services .feature-widget {
  min-height: 300px;
  max-width: 100%;
  padding: 2.5% 5% 5%;
  margin: 2.5% 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.services .feature-widget .services-icon img{
  max-width: 175px;
  height: auto;
}
.services .feature-widget:hover {
  scale: 1.01;
}
.services-texts p {
  color: var(--text-color);
}
.services-texts a {
  position: absolute;
  bottom: 2.5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: 5% 0%;
}
.services-texts .text-primary {
  color: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color);
  padding: 3px 14px;
  border-radius: 6px;
}
.tc-partners-style8 {
  padding: 40px 0 0;
}
.tc-partners-style8 .partner-card {
  position: relative;
  text-align: center;
  height: 200px;
  border-radius: 6px !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0.5rem 1rem;
  background: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 2.5%;
}
.tc-partners-style8 .partner-card:hover {
  background-color: var(--primary-color-light);
}
.tc-partners-style8 .partner-card:hover .logo {
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.tc-partners-style8 .partner-card:hover .foot-inf p {
  opacity: 0;
}
.tc-partners-style8 .partner-card:hover .foot-inf .icon {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.tc-partners-style8 .partner-card:hover .info {
  opacity: 1;
  margin-top: 0;
}
.tc-partners-style8 .partner-card .logo {
  max-width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-partners-style8 .partner-card .logo img{
  scale: 0.75;
}
.tc-partners-style8 .partner-card .foot-inf {
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--white-color);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px 10px 5px;
  z-index: 1;
}
.tc-partners-style8 .partner-card .foot-inf p {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 1%;
}
.tc-partners-style8 .partner-card .foot-inf .icon {
  display: none;
  width: 20px;
  height: 20px;
  line-height: 22px;
  text-align: center;
  border-radius: 50%;
  font-size: 16px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--white-color);
  border: 1px solid var(--text-color);
}
.tc-partners-style8 .partner-card .info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 2.5%;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 1.5s;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.tc-partners-style8 .partner-card .info p{
  color: var(--white-color);
}
.portfolio .work-modern .content {
  opacity: 0.75;
  background: var(--secondary-color);
  color: var(--white-color) !important;
  width: 90%;
  padding: 2.5% 5%;
  z-index: 1;
  position: absolute;
  bottom: -1%;
  left: 50%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-align: center;
  transform: translateX(-50%);
}
.work-container.work-modern .client {
  opacity: 0.75;
  background: var(--secondary-color);
  color: var(--white-color) !important;
  width: 90%;
  padding: 2.5% 5%;
  z-index: 1;
  position: absolute;
  bottom: -1%;
  left: 50%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-align: center;
  transform: translateX(-50%);
}
.work-container .content .title, 
.work-container.work-modern .content .title {
  font-size: 16px;
  font-weight: 300;
}

.testimonial {
  background: url(../images/testimonials/testimonials-bg.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.testimonial::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(233, 51, 63, 0.1);
  z-index: 0;
}
.testimonial .client-review {
  text-align: justify;
  min-height: 250px;
  border-radius: 6px !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15) !important;
  background: var(--white-color);
  padding: 2.5% 5% 1.5%;
}
.testimonial .avatar {
  border-radius: 50%;
  height: auto !important;
  width: auto !important;
  scale: 0.75;
}
.testimonial .reviewer {
  position: absolute;
  bottom: 5%;
}
.tns-nav button {
  background: var(--text-color);
}
.tns-nav button.tns-nav-active {
  background: var(--secondary-color) !important;
}
.work-container.work-modern {
  border-radius: 6px !important;
}
.work-container.work-modern .overlay-work {
  background: linear-gradient(180deg, rgba(20, 73, 128, 0.4) 0%, rgba(142, 50, 52, 0.3) 90%);
}
.title-heading {
  margin-top: 20% !important;
}
.title-heading .content span {
  color: var(--secondary-color) !important;
}
.title-heading .heading {
  font-size: 52px;
}
.bg-half-75 {
  padding: 75px 0;
  background-size: cover;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
  background-position: center center;
}
.margin-neg-50 {
  margin-right: -50px;
}
.skill-badge {
  min-height: 30px;
  min-width: 10%;
  background-color: var(--primary-color-light);
  color: var(--secondary-color);
}
.main-timeline .timeline {
  width: 100%;
  float: left;
}
.main-timeline .timeline-icon {
  border: 0px solid transparent;
}
.main-timeline .timeline-icon img{
  border-radius: 50%;
}
.main-timeline .timeline-content {
  padding: 20px 20px 20px 200px;
  margin: 0 0px;
  border: 1px solid var(--text-color);
  background: var(--primary-color);
  top: 24px;
  left: 12px;
  border-radius: 6px;
  transition: transform 0.5s ease, box-shadow 0.5s ease, background 0.5s ease, border 0.5s ease;
}
.main-timeline .timeline-content:hover {
  transform: scale(1.01);
  border: 1px solid var(--primary-color-light);
  background: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0.5rem 1rem;
}
.main-timeline .timeline-content:hover .title,
.main-timeline .timeline-content:hover .company {
  color: var(--primary-color) !important;
}
.main-timeline .timeline-content:hover .timeline-icon {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0.5rem 1rem !important;
}
.main-timeline .timeline-content:hover .skill-badge {
  color: var(--white-color) !important;
  background: var(--primary-color-light) !important;
}
/* .main-timeline .timeline-content:hover {
  scale: 1.01;
  border: 1px solid var(--text-color);
  background: var(--primary-color-light);
} */
.main-timeline .timeline-content:hover .skill-badge {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.main-timeline .timeline:nth-child(even) {
  margin: -10px 0 10px;
}
.main-timeline .timeline:nth-child(even) .timeline-content {
  padding: 20px 200px 20px 20px;
  margin: 10px 0 0;
}
.main-timeline .description {
  text-align: justify;
}
.timeline-content .margin-50 {
  margin-right: 6%;
}
.timeline-content .margin-neg-50 {
  margin-right: -6%;
}
.modal-dialog {
  max-width: 50%;
}
.modal-body {
  border-radius: 6px;
  overflow-y: auto;
  max-height: 100%;
  background: var(--white-color);
}
.modal-header {
  position: relative;
}
.modal-content {
  position: relative;
  background: var(--primary-color);
}
.modal-content .img-fluid {
  border-radius: 12px;
}
.close {
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  color: var(--black-color);
  border-radius: 10%;
}
.wrapper {
  width: 75%;
}
.accordion {
  background: var(--background-color);
  color: var(--black-color);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
  margin: 2.5% 0%;
}
.question {
  font-size: 16px;
  font-weight: 500;
  padding: 2.5% 5%;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--primary-color);
}
.question::after {
  content: "\002B";
  font-size: 22px;
  position: absolute;
  right: 2.5%;
  transition: 0.2s;
}
.question.active::after {
  transform: rotate(45deg);
}
.answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.answer {
  padding: 0 5% 1%;
  line-height: 22px;
  color: var(--text-color);
}
.question.active + .answercont {
  transition: 0.3s;
}

.contact-detail {
  min-height: 250px;
  background: var(--primary-color);
  padding: 10%;
  border-radius: 6px;
  margin-bottom: 7.5%;
}
.contact-detail .content a {
  color: var(--secondary-color) !important;
}
.fea.icon-md {
  scale: 1.5;
}
.contact-box {
  max-height: 600px;
  background: var(--primary-color);
  padding: 5% 2.5%;
  border-radius: 6px;
}
.submitBnt {
  color: var(--secondary-color) !important;
  background: transparent;
  border: 1px solid var(--secondary-color);
  padding: 8px 24px;
  border-radius: 6px;
}
.form-group .form-control {
  background: var(--primary-color-light);
  color: var(--white-color);
}
input::placeholder,
textarea::placeholder {
    color: var(--text-color) !important;
}

/* Form Submit Message Style */
.error-msg {
  color: var(--error-color);
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 1%;
}
.alert {
  padding: 2.5%;
  margin-top: 2.5%;
  border-radius: 6px;
  text-align: center;
  display: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.alert-success {
  background-color: var(--success-light);
  color: var(--success-color);
}
.alert-error {
  background-color: var(--error-light);
  color: var(--error-color);
}
.custom-form {
  position: relative;
}
.contact-card {
  text-align: center;
  padding: 20px;
  background-color: transparent;
  color: var(--white-color);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
/* Footer Style */
.footer {
  padding: 5% 0% 0%;
  background: var(--primary-color);
  color: var(--text-color);
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 2.5%;
}
.footer-text p {
  margin-bottom: 1%;
  font-size: 16px;
  color: var(--text-color);
  line-height: 22px;
}
.footer-social-icon span {
  color: var(--white-color);
  display: block;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: var(--white-color);
  font-size: 14px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
}
.social-icon li a {
  background: var(--primary-color-light);
  color: var(--white-color);
  border: 0.5px solid var(--text-color);
}
.facebook-bg:hover{
  background: #3B5998 !important;
  border-radius: 50%;
}
.twitter-bg:hover{
  background: #55ACEE !important;
  border-radius: 50%;
}
.instagram-bg:hover{
  background: #E4405F !important;
  border-radius: 50%;
}
.linkedin-bg:hover{
  background: #0A66C2 !important;
  border-radius: 50%;
}
.copyright-area{
  background: var(--secondary-color);
  padding: 0.5% 0% 1%;
  margin: 1% 0% 0%;
}
.copyright-area p ,
.copyright-text p {
  margin: 0;
  font-size: 16px;
  color: var(--text-color);
}
.copyright-area p a{
  color: var(--white-color);
  font-weight: 600;
  font-size: 16px;
}
.copyright-area p a:hover{
  color: var(--white-color);
}
@media (min-width: 1920px) and (max-width:3200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1680px !important;
  }
  .hero-area {
    padding: 20% 0% 2.5%!important;
    background-size: auto;
  }
  .main-timeline .timeline-content {
    padding: 15px 20px 15px 120px;
    border-radius: 0px 0px 0px 100px;
  }
  .main-timeline .timeline-icon {
    left: 20px;
    right: auto;
    bottom: auto;
    top: -42px;
  }
  .contact-detail {
    min-height: 200px;
  }
  .contact-box {
    max-height: 630px;
  }
}
@media (min-width: 1540px) and (max-width: 1920px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1380px !important;
  }
  .hero-area {
    padding: 15% 0% 5%!important;
    background-size: 100%;
  }
  .contact-detail {
    min-height: 275px;
  }
}
@media (min-width: 1280px) and (max-width: 1540px) {
  .hero-area {
    padding: 5% 0% !important;
  }
  .contact-detail {
    min-height: 275px;
  }
  .services .feature-widget {
    min-height: 400px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .hero-area {
    padding: 2.5% 0% !important;
  }
  .contact-detail {
    min-height: 265px;
  }
}
@media (min-width: 567px) and (max-width: 1920px) {
  .main-timeline .timeline-content {
    padding: 20px 20px 20px 150px;
    border-radius: 0px 0px 0px 100px;
    margin-bottom: 5%;
  }
  .main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 20px 150px 20px 20px;
    margin-bottom: 5%;
  }
  .main-timeline .timeline-icon {
    left: 20px;
    right: auto;
    bottom: auto;
    top: -42px;
    height: auto;
    width: auto;
    line-height: 75px;
    border: none;
  }
}
@media screen and (max-width: 991px) {
  .navbar-custom {
    background-color: transparent !important;
  }
  .nav-sticky {
    background: var(--secondary-color) !important;
  }
  .navbar-custom .navbar-toggler,
  .nav-sticky .navbar-toggler {
    color: var(--white-color) !important;
  }
  .navbar-custom .container {
    width: 100%;
  }
  .nav-sticky .navbar-nav .nav-item .nav-link {
    color: var(--white-color) !important;
  }
  .navbar-custom .navigation .nav-item.active .nav-link {
    border: none;
    color: var(--secondary-color) !important;
    font-size: 18px;
  }
  .nav-sticky .navigation .nav-item.active .nav-link {
    border: none;
    color: var(--primary-color) !important;
    font-size: 18px;
  }
  .navbar-custom .navigation .nav-item.custom-btn .nav-link{
    background-color: transparent !important;
    border: 1px solid transparent !important;
  }
  .title-heading {
    margin-top: 0% !important;
  }
  .counter img{
    width: 100%;
    margin: 2.5% 0%;
  }
  .tc-partners-style8 {
    padding: 50px 0 0;
  }
  .contact-box {
    max-height: 650px;
    min-height: 600px;
    max-width: 95%;
  }
  .timeline-content .margin-50 {
    margin-right: 3.5%;
  }
  .timeline-content .margin-neg-50 {
    margin-right: -7.5%;
  }
  .services .feature-widget {
    min-height: 500px;
  }
}
@media screen and (max-width: 768px) {
  #about{
    padding-top: 10%;
  }
  .wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 567px) {
  #about{
    padding-top: 90%;
  }
  .hero-area {
    background-position: 70%;
    max-height: 450px;
  }
  .title-heading {
    margin-top: 30% !important;
    padding-bottom: 0%;
  }
  .title-heading .heading {
    font-size: 40px;
  }
  .public-profile {
    text-align: justify;
  }
  .public-profile p {
    font-size: 16px !important;
  }
  .about-me-quote {
    min-width: auto;
    text-align: center;
  }
  .main-timeline {
    margin-left:  -2.5%;
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 15px 20px 15px 120px;
    border-radius: 6px;
  }
  .main-timeline .timeline-content {
    padding: 40px 20px 15px 20px;
    margin: 5% 0%;
  }
  .main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 40px 20px 15px 20px;
    margin: 2.5% 0%;
  }
  .skill-badge {
    position: absolute;
    right: 55%;
    top: 2.5%;
    margin-right: 10%;
  }
  .main-timeline .timeline {
    width: 100%;
  }
  .timeline-content .margin-50 {
    margin-right: 9.5%;
  }
  .timeline-content .margin-neg-50 {
    margin-right: 8.5%;
  }
}
